



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #aaa;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navbar */
nav {
    background-color: #ddd;
    display: flex;
    padding: 0 1em;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 10px gray;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav > div > a {
    padding: 0.5em 0.25em;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 1200ms;
}

nav > div {
    display: flex;
    gap: 0.5em;
}

.nav-right {
    margin-left: auto;
}

.nav-active {
    box-shadow: inset 0 -0.25em #aaa;
}

nav > div > a:hover {
    box-shadow: inset 0 -0.25em black;
    transition: 200ms;
}

/* Main body */
main {
    background-color: #ddd;
    width: max-content;
    min-width: 720px;
    margin: auto;
    padding: 1rem;
    box-shadow: 5px 5px 10px gray;

    height: 100vh;
}

.main-title {
    text-align: center;
}